@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');

body{
    font-family: 'Ubuntu Mono', monospace;
}

.frame {
    width: 500px;
    margin: auto;
    transform: translateY(10%);
    border: 1px solid transparent;
    border-radius: 10px;
    background: #c9eb24;
    box-shadow:  5px 5px 10px #9bb51c,
    -5px -5px 10px #f7ff2c;
    
}

.display {
    width: 95%;
    height: 150px;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 14px #bababa,
                -5px -5px 14px #ffffff;
    margin: 20px 15px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 15px 15px 0;
}

.calculation-error {
    background: rgb(236, 88, 88);
}

.keys {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 70px);
    grid-gap: 20px;
    padding: 0 10px 10px 10px;
    
}

.keys button {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #444;
    outline: none;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  5px 5px 14px #bababa,
                -5px -5px 14px #ffffff;
}

.keys button:nth-child(1) {
    grid-area: 1/1/1/3;
}

.keys button:nth-child(2) {
    grid-area: 1/3/1/5;
}

.keys button:nth-child(2) i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keys button:hover {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 14px #bababa,
                inset -5px -5px 14px #ffffff;
}